.footer .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer_bottom .span_footer {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.23px;
  color: #666666;
}
.footer .footer_top {
  padding: 29px 165px;
  background: #4C5866;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer_top .social_container .list_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer .footer_top .social_container .list_social .item_social {
  cursor: pointer;
}

@media only screen and (max-width: 576px) and (min-width: 320px) {
  .footer .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer_bottom .span_footer {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    color: #666666;
  }
  .footer .footer_top {
    padding: 29px 39px;
    background: #4C5866;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer_top .social_container .list_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .footer .footer_top .social_container .list_social .item_social {
    cursor: pointer;
  }
}
@media only screen and (max-width: 320px) {
  .footer .footer_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .footer_bottom .span_footer {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    color: #666666;
  }
  .footer .footer_top {
    padding: 19px 9px;
    background: #4C5866;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .footer_top .social_container .list_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .footer .footer_top .social_container .list_social .item_social {
    cursor: pointer;
  }
}