.partners {
  background: #ebebeb;
}
.partners .partner_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.partners .partner_container .list_partners {
  margin-bottom: 90px;
  margin-top: 90px;
  margin-left: 165px;
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.partners .partner_container .list_partners .partner_item {
  width: 255px;
  height: 135px;
  border: 1px solid #C4C4C4;
}
.partners .partner_container .list_partners .partner_item .partner_content .four-image {
  margin-top: 54px;
  margin-left: 12px;
}
.partners .partner_container .list_partners .partner_item .partner_content .three-image {
  margin-top: 57px;
  margin-left: 11px;
}
.partners .partner_container .list_partners .partner_item .partner_content .two-image {
  margin-top: 44px;
  margin-left: 11px;
}
.partners .partner_container .list_partners .partner_item .partner_content .first-image {
  margin-top: 34px;
  margin-left: 10px;
}
.partners .partner_container .list_partners .partner_item .partner_content img {
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .partners {
    background: #ebebeb;
  }
  .partners .partner_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners .partner_container .list_partners {
    width: 690px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 29px;
    gap: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners .partner_container .list_partners .partner_item {
    width: 150px;
    height: 80px;
    border: 1px solid #C4C4C4;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .four-image {
    margin-top: 34px;
    margin-left: 8px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .three-image {
    margin-top: 37px;
    margin-left: 8px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .two-image {
    margin-top: 24px;
    margin-left: 8px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .first-image {
    margin-top: 18px;
    margin-left: 9px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content img {
    width: 90%;
  }
}
@media only screen and (max-width: 576px) {
  .partners {
    background: #ebebeb;
  }
  .partners .partner_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners .partner_container .list_partners {
    gap: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 690px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners .partner_container .list_partners .partner_item {
    width: 500px;
    height: 80px;
    border: 1px solid #C4C4C4;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .four-image {
    margin-top: 29px;
    margin-left: 150px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .three-image {
    margin-top: 33px;
    margin-left: 150px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .two-image {
    margin-top: 14px;
    margin-left: 150px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .first-image {
    margin-top: 8px;
    margin-left: 150px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content img {
    width: 35%;
  }
}
@media only screen and (max-width: 320px) {
  .partners {
    background: #ebebeb;
  }
  .partners .partner_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners .partner_container .list_partners {
    gap: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 290px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .partners .partner_container .list_partners .partner_item {
    width: 290px;
    height: 80px;
    border: 1px solid #C4C4C4;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .four-image {
    margin-top: 29px;
    margin-left: 55px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .three-image {
    margin-top: 33px;
    margin-left: 55px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .two-image {
    margin-top: 17px;
    margin-left: 55px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content .first-image {
    margin-top: 13px;
    margin-left: 55px;
  }
  .partners .partner_container .list_partners .partner_item .partner_content img {
    width: 60%;
  }
}