.sketchbook .sketchbook_container {
  padding-top: 90px;
  padding-left: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sketchbook .sketchbook_container .sketchbook_info {
  padding-top: 24px;
  width: 100%;
  max-width: 350px;
}
.sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy {
  border: 1px solid #7875FE;
  padding: 20px 95px;
  color: #7875FE;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy:hover {
  color: #fff;
  background: #7875FE;
}
.sketchbook .sketchbook_container .sketchbook_info .sketchbook_descr {
  margin-bottom: 53px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  color: #85859B;
}
.sketchbook .sketchbook_container .sketchbook_info .sketchbook_title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #666666;
}

@media only screen and (max-width: 768px) and (min-width: 576px) {
  .sketchbook .sketchbook_container {
    padding-top: 60px;
    padding-left: 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sketchbook .sketchbook_container .sketchbook_image img {
    margin-top: 150px;
    width: 100%;
    max-width: 369px;
  }
  .sketchbook .sketchbook_container .sketchbook_info {
    padding-top: 24px;
    width: 100%;
    max-width: 350px;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy {
    border: 1px solid #7875FE;
    padding: 20px 95px;
    color: #7875FE;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy:hover {
    color: #fff;
    background: #7875FE;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_descr {
    margin-bottom: 53px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.6px;
    color: #85859B;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_title {
    margin-bottom: 8px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #666666;
  }
}
@media only screen and (min-width: 320px) and (max-width: 576px) {
  .sketchbook .sketchbook_container {
    padding-top: 60px;
    padding-left: 33px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sketchbook .sketchbook_container .sketchbook_image img {
    margin-top: 60px;
    width: 100%;
    max-width: 449px;
  }
  .sketchbook .sketchbook_container .sketchbook_info {
    padding-top: 24px;
    width: 100%;
    max-width: 510px;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy {
    border: 1px solid #7875FE;
    padding: 20px 95px;
    color: #7875FE;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy:hover {
    color: #fff;
    background: #7875FE;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_descr {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    max-width: 510px;
    margin-bottom: 53px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #85859B;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
  }
}
@media only screen and (max-width: 320px) {
  .sketchbook .sketchbook_container {
    padding-top: 60px;
    padding-left: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sketchbook .sketchbook_container .sketchbook_image img {
    margin-top: 60px;
    width: 100%;
    max-width: 290px;
  }
  .sketchbook .sketchbook_container .sketchbook_info {
    padding-top: 24px;
    width: 100%;
    max-width: 289px;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy {
    border: 1px solid #7875FE;
    padding: 20px 95px;
    color: #7875FE;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_btn__buy:hover {
    color: #fff;
    background: #7875FE;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_descr {
    width: 289px;
    margin-bottom: 53px;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: #85859B;
  }
  .sketchbook .sketchbook_container .sketchbook_info .sketchbook_title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #666666;
  }
}