$title-color: #4C5866;
$paragraph-color: #85859B;
$violet-color: #7875FE;
$violet-focus-color: #4946B4;
$background-color: #ebebeb;
$span-color: #666666;
$sprint-color: #B5B5BD;
$border-color: #C4C4C4;
$padding: 29px 165px;